.features{
    min-height: 100vh;
    padding: 2rem 2rem;
    
    @include respond(medium){
        padding: 2rem 5rem;
    }
    @include respond(large){
        padding: 2rem 7rem;
    }
    background-color: $color-dark-bg;
    color: white;
    h1{
        font-family: $font-header;
        font-size: 3rem;
        font-weight: lighter;
        padding: 1rem 0;
    }
}
